/*
ABOUT
===========================================================
version 1.7a
QT theme (stylesheet) specially developed for FreeCAD (http://www.freecadweb.org/).
It might work with other software that uses QT styling.


LICENSE
===========================================================
Copyright (c) 2015 Pablo Gil Fernández
The stylesheet barely uses code from Colin Duquesnoy "generic QT stylesheet"

This work is licensed under the Creative Commons Attribution-ShareAlike 4.0 International License.
To view a copy of this license, visit http://creativecommons.org/licenses/by-sa/4.0/.


INSTALLATION
===========================================================
1) Place the .qss files and /images/ folder in the path that fits your OS:
    OSX = /Users/[YOUR_USER_NAME]/Library/Preferences/FreeCAD/Gui/Stylesheets/
    WINDOWS = C:/[INSTALLATION_PATH]/FreeCAD/data/Gui/Stylesheets/
    LINUX = /home/[YOUR_USER_NAME]/.FreeCAD/Gui/Stylesheets/

2) In order to display correctly images that are used inside the stylesheet:
    2.1) If you use FreeCAD 0.16 (development builds newer than commit 5b3d50a): that's it, you are done!

    2.2) If you use FreeCAD 0.15: Images used in the theme need full paths to be found by FreeCAD, so you should search the string "qss:images" (without "") and replace with the real path of your computer. It should be done with all the .qss files you want to install-use
        find = qss:images
        replace = /Users/myName/Library/Preferences/FreeCAD/Gui/Stylesheets/images


CUSTOMIZATION
===========================================================
If you would like to change the overall look/style of the theme, just find and replace following colors in the whole file:
    background darker = #828282
    background dark and slighly darker = #a2a2a2
    background dark = #b6b6b6
    background normal and slighly darker = #e0e0e0
    background normal = #e6e6e6
    background light = #f5f5f5
    background lighter = #ffffff

    lists background = #d3d1cd
    lists background (alternate) = #cfcdc9
    lists backgrounds selection = #cbc9c4

    foreground = black

    selection darker = #9d7106
    selection dark = #e0a108
    selection normal = #f8bf36
    selection inbetween normal and light = #f9ca58 (used to build SpinBoxes)
    selection light = #fad57a
    selection lighter = #fce6b1

KNOWN BUGS and TO DO
===========================================================
    - please, follow the link to get updated information: http://forum.freecadweb.org/viewtopic.php?f=10&t=12417&p=99676

*/

/* RESET EVERYTHING */
QAbstractScrollArea,QCheckBox,QColumnView,QComboBox,QDateEdit,QDateTimeEdit,QDialog,QDialogButtonBox,QDockWidget,QDoubleSpinBox,QFrame,QGroupBox,QHeaderView,QLabel,QLineEdit,QListView,QListWidget,QMainWindow,QMenu,QMenuBar,QMessageBox,QProgressBar,QPushButton,QRadioButton,QScrollBar,QSizeGrip,QSlider,QSpinBox,QSplitter,QStatusBar,QTabBar,QTabWidget,QTableView,QTableWidget,QTextEdit,QTimeEdit,QToolBar,QToolButton,QToolBox,QToolTip,QTreeView,QTreeWidget,QWidget {
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-style: none;
    background-color: #e6e6e6; /* set with default background color */
}

QMdiArea[showImage="true"] {
    background-image: url(stylesheets/FreeCAD/background_freecad.png);
    background-position: center;
    background-repeat: no-repeat;
}

QProgressBar,
QProgressBar:horizontal {
    background: #d3d1cd;
    border: 1px solid #b6b6b6;
    text-align: center;
    padding: 1px;
    border-radius: 4px;
}
QProgressBar::chunk,
QProgressBar::chunk:horizontal {
    background-color: qlineargradient(spread:pad, x1:1, y1:0.545, x2:1, y2:0, stop:0 #e0a108, stop:1 #f8bf36);
    border-radius: 3px;
}

QToolTip {
    background-color: #828282;
    color: black;
    padding: 4px;
    border-radius: 4px;
}

QWidget {
    color: #828282;
    background-color: #e6e6e6;
    background-clip: border;
    border-image: none;
    outline: 0;
}

QWidget:focus {
    border: 1px solid #828282;
}

QWidget:disabled {
    color: #f5f5f5;
    background-color: #828282; /* same as QMenu background-color */
}

QMenuBar {
    color: #ffffff;
    background-color: #e0e0e0;
}

QMenuBar::item {
    background-color: #e0e0e0;
}

QMenuBar::item:selected {
    color: #9d7106;
    border: 1px solid #f8bf36;
    background-color: #f8bf36;
}

QMenuBar::item:pressed {
    color: #9d7106;
    border: 1px solid #fad57a;
    background-color: #fad57a;
    margin-bottom:-1px;
    padding-bottom:1px;
}

QMenu {
    color: #ffffff;
    background-color: #828282;
    margin: 2px;
    border: 1px solid transparent;
}

QMenu::icon {
    margin: 5px;
    border-style: none;
}

QMenu::right-arrow {
    image:url(stylesheets/FreeCAD/right_arrow_light.png);
}

QMenu::item {
    color: #ffffff;
    background-color: #828282;
    padding: 2px 30px 2px 30px;
    border: 1px solid #828282; /* reserve space for selection border */
}

QMenu::item:selected {
    color: #9d7106;
    background-color: #fad57a;
}

QMenu::separator {
    height: 1px;
    background-color: #b6b6b6;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 6px;
    margin-right: 6px;
}

QMenu::indicator:non-exclusive {
    color: #ffffff;
    background-color: #f5f5f5;
    border: 1px solid #828282;
    width: 11px;
    height: 11px;
    border-radius:2px;
}

QMenu::indicator:non-exclusive:checked {
    background-color: #e0a108;
    border: 1px solid #9d7106;
    image:url(stylesheets/FreeCAD/checkbox_light.png);
}

QGroupBox {
    color: #828282;
    font-weight: bold;
    border:1px solid blue;
    border-radius: 4px;
    margin-top: 20px;
    border-color: rgba(0, 0, 0, 20); /* lighter than "QGroupBox" border-color */
    background-color: rgba(255, 255, 255, 15);
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    background-color: transparent;
}

QAbstractScrollArea {
    border-radius: 2px;
    border: 1px solid #3A3939;
    background-color: transparent;
}

QAbstractScrollArea::corner {
    border: none;
    background-color: #e6e6e6;
}

QScrollBar:horizontal {
    height: 15px;
    margin: 3px 15px 3px 15px;
    border: 1px transparent #828282;
    border-radius: 4px;
    background-color: #828282;
}

QScrollBar::handle:horizontal {
    background-color: #b6b6b6;
    min-width: 5px;
    border-radius: 4px;
}

QScrollBar::add-line:horizontal {
    margin: 1px 3px 0px 3px; /* 1px to correctly fit the 10px width image */
    border-image: url(stylesheets/FreeCAD/right_arrow_light.png);
    width: 6px;
    height: 10px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
    margin: 1px 3px 0px 3px; /* 1px to correctly fit the 10px width image */
    border-image: url(stylesheets/FreeCAD/left_arrow_light.png);
    height: 10px;
    width: 6px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal:hover,
QScrollBar::add-line:horizontal:on {
    border-image: url(stylesheets/FreeCAD/right_arrow_lighter.png);
}


QScrollBar::sub-line:horizontal:hover,
QScrollBar::sub-line:horizontal:on {
    border-image: url(stylesheets/FreeCAD/left_arrow_lighter.png);
}

QScrollBar::up-arrow:horizontal,
QScrollBar::down-arrow:horizontal {
    background: none;
}


QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal {
    background: none;
}

QScrollBar:vertical {
    background-color: #828282;
    width: 15px;
    margin: 15px 3px 15px 3px;
    border: 1px transparent #828282;
    border-radius: 4px;
}

QScrollBar::handle:vertical {
    background-color: #b6b6b6;
    min-height: 5px;
    border-radius: 4px;
}

QScrollBar::sub-line:vertical {
    margin: 3px 0px 3px 1px; /* 1px to correctly fit the 10px width image */
    border-image: url(stylesheets/FreeCAD/up_arrow_light.png);
    height: 6px;
    width: 10px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::add-line:vertical {
    margin: 3px 0px 3px 1px; /* 1px to correctly fit the 10px width image */
    border-image: url(stylesheets/FreeCAD/down_arrow_light.png);
    height: 6px;
    width: 10px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical:hover,
QScrollBar::sub-line:vertical:on {
    border-image: url(stylesheets/FreeCAD/up_arrow_lighter.png);
}

QScrollBar::add-line:vertical:hover,
QScrollBar::add-line:vertical:on {
    border-image: url(stylesheets/FreeCAD/down_arrow_lighter.png);
}

QScrollBar::up-arrow:vertical,
QScrollBar::down-arrow:vertical {
    background: none;
}


QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    background: none;
}

QTextEdit {
    color: #828282;
    background-color: #d3d1cd;
    border: 1px solid #b6b6b6;
    padding: 0px;
    margin: 0px;
}

QPlainTextEdit {
    color: #828282;
    background-color: #d3d1cd;
    border-radius: 2px;
    border: 1px solid #b6b6b6;
    padding: 0px;
    margin: 0px;
}

QSizeGrip {
    image: url(stylesheets/FreeCAD/sizegrip_light.png);
    width: 16px;
    height: 16px;
    background-color: transparent;
}

QRadioButton::indicator:unchecked{
    color: #828282;
    background-color: #f5f5f5;
    border: 1px solid #828282;
}

QRadioButton::indicator:checked {
    background-color: #e0a108;
    border: 1px solid #9d7106;
    image:url(stylesheets/FreeCAD/radiobutton_light.png);
}

QCheckBox,
QRadioButton,
QCheckBox:disabled,
QRadioButton:disabled {
    color: #828282;
    padding: 3px;
    outline: none;
    background-color: transparent;
}

QCheckBox::indicator,
QGroupBox::indicator {
    color: #ffffff;
    background-color: #f5f5f5;
    border: 1px solid #828282;
}

QCheckBox::indicator {
    width: 11px;
    height: 11px;
    border-radius:2px;
}

QRadioButton::indicator {
    width: 11px;
    height: 11px;
    border-radius: 6px;
}

QRadioButton::indicator:pressed,
QCheckBox::indicator:pressed,
QCheckBox::indicator:non-exclusive:checked:pressed,
QCheckBox::indicator:indeterminate:pressed,
QCheckBox::indicator:checked:pressed {
    border-color: #fce6b1;
}

QCheckBox::indicator:checked,
QGroupBox::indicator:checked {
    background-color: #e0a108;
    border: 1px solid #9d7106;
    image:url(stylesheets/FreeCAD/checkbox_light.png);
}

QCheckBox::indicator:disabled,
QRadioButton::indicator:disabled {
    border: 1px solid #b6b6b6;
}

QCheckBox:disabled,
QRadioButton::indicator:disabled {
    color: #b6b6b6;
    background-color: transparent;
}

QCheckBox::indicator:disabled,
QGroupBox::indicator:disabled,
QMenu::indicator:non-exclusive:disabled {
    background-color: #e6e6e6;
}

QCheckBox::indicator:indeterminate {
    background-color: #e0a108;
    border: 1px solid #9d7106;
    image: url(stylesheets/FreeCAD/checkbox_indeterminate_light.png);
}

QCheckBox:focus,
QRadioButton:focus {
    border: none;
}

QFrame,
QFrame:pressed,
QFrame:focus,
QFrame:on {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    padding: 0px;
}

/* border and background of QComboBox drop-down */
QComboBox QFrame,
QComboBox QFrame:pressed,
QComboBox QFrame:focus,
QComboBox QFrame:on {
    border: 1px solid #828282;
    background-color: #828282;
    padding: 0px;
    margin: 0px;
}

QFrame[frameShape="0"] {
    border-radius: 3px;
}

QFrame[height="3"],
QFrame[width="3"] {
    border-color: transparent;
    background-color: transparent;
}

QFrame[height="3"] {
    border-top-color: #b6b6b6;
}

QFrame[width="3"] {
    border-left-color: #b6b6b6;
}

QPushButton {
    color: #ffffff;
    text-align: center;
    background-color: qlineargradient(spread:pad, x1:1, y1:0.545, x2:1, y2:0, stop:0 #b6b6b6, stop:1 #e6e6e6);
    border: 1px solid #828282;
    padding: 5px;
    margin: 4px 8px 4px 8px;
    border-radius: 3px;
    min-width: 14px;
    min-height: 14px;
}

QPushButton:hover,
QPushButton:focus {
    color: black;
    background-color: qlineargradient(spread:pad, x1:1, y1:0.545, x2:1, y2:0, stop:0 #e0a108, stop:1 #f8bf36);
    border-color: #e0a108;
}

QPushButton:disabled,
QPushButton:disabled:checked {
    color: #b6b6b6;
    background-color: #e6e6e6;
    border-color: #b6b6b6;
}

QPushButton:pressed {
    background-color: #e0a108;
}

QPushButton:checked {
    background-color: #f8bf36;
    border-color: #e0a108;
}

/* Color Buttons */
Gui--ColorButton,
Gui--ColorButton:disabled {
    border-color: transparent;
    background-color: transparent;
    height: 24px;
    padding: 0px;
    margin: 0px;
}

Gui--ColorButton:hover {
    border-color: #e0e0e0;
    background-color: #e0e0e0;
}

/* Buttons inside the toolbar */
QToolBar QPushButton {
    background-color: qlineargradient(spread:pad, x1:1, y1:0.545, x2:1, y2:0, stop:0 #e0e0e0, stop:1 #e6e6e6);
    border: 1px solid #b6b6b6;
    min-width: 22px;
    min-height: 22px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 3px; /*bigger margin to correctly separate buttons inside a vertical toolbar */
    margin-top: 1px;
    padding: 1px;
}

QToolBar QPushButton:hover,
QToolBar QPushButton:focus {
    color: #ffffff;
    background-color: qlineargradient(spread:pad, x1:1, y1:0.545, x2:1, y2:0, stop:0 #e0e0e0, stop:1 #e6e6e6);
    border: 1px solid #828282;
}

QToolBar QPushButton:disabled,
QToolBar QPushButton:disabled:checked {
    background-color: #e6e6e6;
    border-color: #e0e0e0;
}

QToolBar QPushButton:pressed {
    background-color: #b6b6b6;
    border-color: #b6b6b6;
}

QToolBar QPushButton:checked {
    background-color: qlineargradient(spread:pad, x1:1, y1:0.8, x2:1, y2:0, stop:0 #f8bf36, stop:1 #fad57a);
    border-color: #f8bf36;
}

QToolBar QPushButton:checked:hover,
QToolBar QPushButton:checked:focus {
    color: #ffffff;
    border: 1px solid #e0a108;
}

QToolBar {
    border: 1px transparent #393838;
    background-color: #e6e6e6;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

QToolBar::handle:horizontal {
    background-image: url(stylesheets/FreeCAD/Hmovetoolbar_dark.png);
    width: 10px;
    margin: 6px 2px 6px 2px;
    background-position: top right;
    background-repeat: repeat-y;
}

QToolBar::handle:vertical {
    background-image: url(stylesheets/FreeCAD/Vmovetoolbar_dark.png);
    height: 10px;
    margin: 2px 6px 2px 6px;
    background-position: left bottom;
    background-repeat: repeat-x;
}

QToolBar::separator:horizontal {
    background-image: url(stylesheets/FreeCAD/separtoolbar_dark.png);
    width: 10px;
    margin: 6px 2px 6px 2px;
    background-position: center center;
    background-repeat: repeat-y;
}

QToolBar::separator:vertical {
    background-image: url(stylesheets/FreeCAD/separtoolbar_dark.png);
    height: 10px;
    margin: 2px 6px 2px 6px;
    background-position: center center;
    background-repeat: repeat-x;
}

QStackedWidget {
    background-color: #e6e6e6;
    border: 1px transparent #e6e6e6;
}

QAbstractSpinBox {
    color: #ffffff;
    border: 1px solid #b6b6b6; /* border top color defined after QAbstractSpinBox, QLineEdit and QComboBox */
    background-color: #b6b6b6;
    selection-color: black;
    selection-background-color: #f8bf36;
}

QAbstractSpinBox:disabled {
    color: #f5f5f5;
    background-color: #e0e0e0;
    border-color: #e0e0e0;
}

QAbstractSpinBox:up-button {
    background-color: qlineargradient(spread:pad, x1:1, y1:0.8, x2:1, y2:0, stop:0 #f9ca58, stop:1 #fad57a);
    subcontrol-origin: border;
    subcontrol-position: top right;
    border-top-right-radius: 3px;
    height: 13px;
    width: 20px;
}

QAbstractSpinBox:down-button {
    background-color: qlineargradient(spread:pad, x1:1, y1:0.8, x2:1, y2:0, stop:0 #f8bf36, stop:1 #f9ca58);
    subcontrol-origin: border;
    subcontrol-position: bottom right;
    border-bottom-right-radius: 3px;
    height: 13px;
    width: 20px;
}

QAbstractSpinBox:up-button:disabled,
QAbstractSpinBox:down-button:disabled {
    background-color: transparent;
}

QAbstractSpinBox::up-arrow {
    image: url(stylesheets/FreeCAD/up_arrow_light.png);
    top: 0px; /* fix simetry between up and down images */
}

QAbstractSpinBox::up-arrow:hover {
    image: url(stylesheets/FreeCAD/up_arrow_lighter.png);
}

QAbstractSpinBox::up-arrow:off {
    image: url(stylesheets/FreeCAD/up_arrow_disabled_dark.png);
}

QAbstractSpinBox::up-arrow:disabled {
    image: none;
}

QAbstractSpinBox::down-arrow {
    image: url(stylesheets/FreeCAD/down_arrow_light.png);
    bottom: -2px; /* fix simetry between up and down images */
}
QAbstractSpinBox::down-arrow:hover {
    image: url(stylesheets/FreeCAD/down_arrow_lighter.png);
}

QAbstractSpinBox::down-arrow:off {
    image: url(stylesheets/FreeCAD/down_arrow_disabled_dark.png);
}

QAbstractSpinBox::down-arrow:disabled {
    image: none;
}

QToolBar QAbstractSpinBox {
    margin-top: 0px;
    margin-bottom: 0px;
}

QLineEdit {
    color: #ffffff;
    background-color: #b6b6b6;
    selection-color: black;
    selection-background-color: #f8bf36;
    /* Padding and margin defined */
    border-style: solid;
    border: 1px solid #b6b6b6; /* border top color defined after QAbstractSpinBox, QLineEdit and QComboBox */
    border-radius: 3px;
}

QAbstractSpinBox:focus,
QLineEdit:focus,
QComboBox:focus {
    border-color: #fad57a;
}

QComboBox {
    color: #ffffff;
    background-color: #b6b6b6;
    selection-color: black;
    selection-background-color: #f8bf36;
    border: 1px solid #b6b6b6; /* border top color defined after QAbstractSpinBox, QLineEdit and QComboBox */
    border-radius: 3px;
}

QComboBox:on {
    color: black;
    background-color: #b6b6b6;
    border-color: #fad57a;
}

QComboBox::drop-down {
    subcontrol-origin: margin;
    subcontrol-position: top right;
    width: 20px;
    border-left-width: 1px;
    border-left-color: transparent;
    border-left-style: solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: qlineargradient(spread:pad, x1:1, y1:0.8, x2:1, y2:0, stop:0 #f8bf36, stop:1 #fad57a);
}

QComboBox::down-arrow {
    image: url(stylesheets/FreeCAD/down_arrow_light.png);
}

QComboBox::down-arrow:on,
QComboBox::down-arrow:hover,
QComboBox::down-arrow:focus {
    image: url(stylesheets/FreeCAD/down_arrow_lighter.png);
}

QComboBox QAbstractItemView {
    color: #ffffff;
    background-color: #828282;
    border-radius: 3px;
    margin: 0px;
    padding: 0px;
    border: none;
}

/* Common parameters for QAbstractSpinBox, QLineEdit and QComboBox */
QSpinBox,
QDoubleSpinBox,
QAbstractSpinBox,
QLineEdit,
QComboBox {
    border-top-color: #a2a2a2; /* Creates an inset effect inside the elements */
    margin: 0px 2px 0px 2px;
    min-width: 70px; /* it was 120 because of QCombobox... */
    border-radius: 3px;
}
/* end Common parameters */

QAbstractItemView {
    color: #828282;
    alternate-background-color: #cfcdc9; /* related with QListView background  */
    border: 1px solid #828282;
    border-radius: 3px;
    padding: 0px;
}

/* hack to deactivate changing background color when focus (due to QFrame generic transparent color) */
QAbstractItemView:selected,
QAbstractItemView:on,
QAbstractItemView:focus {
    background-color: #d3d1cd; /* same as QTable background color */
}

/* hack to hide weird redundant information inside the value of a Placement cell */
QTreeView QLabel,
QTreeView QLabel:disabled {
    color: transparent;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
}

QTreeView QLineEdit {
    color: #ffffff;
    border-color: #b6b6b6;
    background-color: #b6b6b6;
    selection-color: black;
    selection-background-color: #f8bf36;
}

/* hack to hide non editable cells inside Property values */
QTreeView QLineEdit:read-only,
QTreeView QLineEdit:disabled,
QTreeView QAbstractSpinBox:read-only,
QTreeView QAbstractSpinBox:disabled {
    color: transparent;
    border-color: transparent;
    background-color: transparent;
    selection-color: transparent;
    selection-background-color: transparent;
}

/* hack to disable margin inside Property values to following elements */
QTreeView QSpinBox,
QTreeView QDoubleSpinBox,
QTreeView QAbstractSpinBox,
QTreeView QLineEdit,
QTreeView QComboBox {
    margin-left: 0px;
    margin-right: 0px;
}

/* Pushbutton style for "..." inside Placement cell which launches Placement tool */
QTreeView QPushButton {
    background-color: qlineargradient(spread:pad, x1:1, y1:0.545, x2:1, y2:0, stop:0 #b6b6b6, stop:1 #e6e6e6);
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 1px solid #b6b6b6;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    height: 24px;
}

/* Color Buttons inside the "Properties window" */
QAbstractItemView Gui--ColorButton {
    padding: 0px;
    margin: 0px;
    height: 10px;
}

QAbstractItemView QPushButton:hover {
    color: black;
    background-color: qlineargradient(spread:pad, x1:1, y1:0.545, x2:1, y2:0, stop:0 #e0a108, stop:1 #f8bf36);
    border-color: #e0a108;
}

QAbstractItemView QPushButton:disabled {
    color: transparent;
    background-color: transparent;
    border-color: transparent;
}

QLabel {
    border: 0px solid #828282;
}

QTabWidget{
    border: none;
}

QTabWidget:focus {
    border: none;
}

QTabWidget::pane {
    border: none;
    padding: 0px;
    background-color: #e6e6e6;
    position: absolute;
    top: -15px;
    padding-top: 15px;
}

QTabWidget::tab-bar {
    alignment: left;
}

QTabBar {
    qproperty-drawBase: 0;
    left: 5px;
    background-color: transparent;
}

QTabBar:focus {
    border: 0px transparent black;
}

QTabBar::close-button {
    padding: 0px;
    margin: 0px;
    border-radius: 2px;
    background-image: url(stylesheets/FreeCAD/close_dark.png);
    background-position: center center;
    background-repeat: none;
}

QTabBar::close-button:hover {
    background-color: #fad57a;
}

QTabBar::close-button:pressed {
    background-color: #fce6b1;
}

QTabBar::scroller { /* the width of the scroll buttons */
    width: 20px;
}

/* the scroll buttons are tool buttons */
QTabBar QToolButton,
QTabBar QToolButton:hover { 
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    border: none;
    background-color: #e6e6e6;
    border-radius: 0px;
}

QTabBar QToolButton::right-arrow:enabled {
     image: url(stylesheets/FreeCAD/right_arrow_light.png);
}

QTabBar QToolButton::right-arrow:disabled,
QTabBar QToolButton::right-arrow:off {
     image: url(stylesheets/FreeCAD/right_arrow_disabled_dark.png);
}

QTabBar QToolButton::right-arrow:hover {
     image: url(stylesheets/FreeCAD/right_arrow_lighter.png);
}

 QTabBar QToolButton::left-arrow:enabled {
     image: url(stylesheets/FreeCAD/left_arrow_light.png);
}

 QTabBar QToolButton::left-arrow:disabled,
 QTabBar QToolButton::left-arrow:off {
     image: url(stylesheets/FreeCAD/left_arrow_disabled_dark.png);
}

 QTabBar QToolButton::left-arrow:hover {
     image: url(stylesheets/FreeCAD/left_arrow_lighter.png);
}

 QTabBar QToolButton::up-arrow:enabled {
     image: url(stylesheets/FreeCAD/up_arrow_light.png);
}

 QTabBar QToolButton::up-arrow:disabled,
 QTabBar QToolButton::up-arrow:off {
     image: url(stylesheets/FreeCAD/up_arrow_disabled_dark.png);
}

 QTabBar QToolButton::up-arrow:hover {
     image: url(stylesheets/FreeCAD/up_arrow_lighter.png);
}

 QTabBar QToolButton::down-arrow:enabled {
     image: url(stylesheets/FreeCAD/down_arrow_light.png);
}

 QTabBar QToolButton::down-arrow:disabled,
 QTabBar QToolButton::down-arrow:off {
     image: url(stylesheets/FreeCAD/down_arrow_disabled_dark.png);
}

 QTabBar QToolButton::down-arrow:hover {
     image: url(stylesheets/FreeCAD/down_arrow_lighter.png);
}

/* TOP and BOTTOM TABS */
QTabBar::tab:top,
QTabBar::tab:bottom {
    color: #ffffff;
    border: 1px solid #b6b6b6;
    border-left-color: #e6e6e6;
    border-right-width: 0px;
    background-color: #b6b6b6;
    padding:5px 15px;
    margin-top: 4px;
    margin-bottom: 4px;
    position: center;
}

QTabBar::tab:top:first,
QTabBar::tab:bottom:first {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

QTabBar::tab:top:last,
QTabBar::tab:bottom:last {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-right-width: 1px;
}

QTabBar::tab:top:selected,
QTabBar::tab:bottom:selected {
    color: black;
    background-color: qlineargradient(spread:pad, x1:1, y1:0.545, x2:1, y2:0, stop:0 #e0a108, stop:1 #f8bf36);
    border-color: #e0a108;
}

QTabBar::tab:top:!selected:hover,
QTabBar::tab:bottom:!selected:hover {
    color: black;
}

QTabBar::tab:top:only-one ,
QTabBar::tab:bottom:only-one {
    border: 1px solid #9d7106;
    border-radius: 6px;
}

/* LEFT and RIGHT TABS */
QTabBar::tab:left,
QTabBar::tab:right {
    color: #ffffff;
    border: 1px solid #b6b6b6;
    border-top-color: #e6e6e6;
    border-bottom-width: 0px;
    background-color: #b6b6b6;
    padding: 15px 5px;
    margin-left: 4px;
    margin-right: 4px;
    position: center;
}

QTabBar::tab:left:first,
QTabBar::tab:right:first {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

QTabBar::tab:left:last,
QTabBar::tab:right:last {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-width: 1px;
}

QTabBar::tab:left:selected,
QTabBar::tab:right:selected {
    color: black;
    background-color: qlineargradient(spread:pad, x1:0.545, y1:1, x2:0, y2:1, stop:0 #e0a108, stop:1 #f8bf36);
    border-color: #e0a108;
}

QTabBar::tab:left:!selected:hover,
QTabBar::tab:right:!selected:hover {
    color: black;
}

QTabBar::tab:left:only-one ,
QTabBar::tab:right:only-one {
    border: 1px solid #9d7106;
    border-radius: 6px;
}

QDockWidget {
    color: #828282;
    border: 1px solid #e6e6e6;
    titlebar-close-icon: url(stylesheets/FreeCAD/close_dark.png);
    titlebar-normal-icon: url(stylesheets/FreeCAD/undock_dark.png);
}

QDockWidget::title {
    text-align: center;
    background-color: #e0e0e0;
    padding: 4px;
    border-radius: 4px;
}

QDockWidget::close-button,
QDockWidget::float-button {
    border: 1px transparent #e6e6e6;
    border-radius: 2px;
    background: transparent;
    subcontrol-origin: padding;
    subcontrol-position: right center;
}

QDockWidget::close-button {
    right: 4px;
}
    
QDockWidget::float-button {
    right: 22px;
}

QDockWidget::close-button:hover,
QDockWidget::float-button:hover {
    background: #f5f5f5;
}

QDockWidget::close-button:pressed,
QDockWidget::float-button:pressed {
    /*padding: 1px -1px -1px 1px;*/
    background-color: #e0e0e0;
}

QTreeView,
QListView {
    color: #828282;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    background-color: #d3d1cd;  /* related with alternate-background-color*/
    selection-color: black;
    selection-background-color: #f8bf36; /* should be similar to QListView::item selected background-color */
    show-decoration-selected: 1; /* make the selection span the entire width of the view */
    padding: 0px;
    margin: 0px 4px 0px 4px;
    min-width: 130px; /* hack to correctly align Preferences icon list  */
}

QListView,
QListView::item,
QListView QAbstractItemView {
    margin: 0px;
    icon-size: 20px; /* temporal */
    paint-alternating-row-colors-for-empty-area: 1;
    position: absolute;
    subcontrol-origin: margin;
    subcontrol-position: left top;
}

/* Control dropdown list margins of QComboBox */
QComboBox QTreeView,
QComboBox QListView {
    margin: 0px;
    padding: 0px;
}

QListView::item {
    border: 0px transparent #e6e6e6;
    border-radius: 4px;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    position: relative;
}

QListView::item:selected,
QTreeView::item:selected  {
    color: black;
    background-color: #f8bf36; /* should be similar to QListView selection-background-color */
}

/* Branch system */
QTreeView::branch  {
    background: transparent;
}

QTreeView::branch:has-siblings:!adjoins-item  {
    border-image: url(stylesheets/FreeCAD/branch_vline.png) 0;
}

QTreeView::branch:has-siblings:adjoins-item  {
    border-image: url(stylesheets/FreeCAD/branch_more.png) 0;
}

QTreeView::branch:!has-children:!has-siblings:adjoins-item  {
    border-image: url(stylesheets/FreeCAD/branch_end.png) 0;
}

QTreeView::branch:closed:has-children:has-siblings  {
    image: url(stylesheets/FreeCAD/branch_closed_dark.png);
}

QTreeView::branch:has-children:!has-siblings:closed  {
    image: url(stylesheets/FreeCAD/branch_closed_dark.png);
    border-image: url(stylesheets/FreeCAD/branch_end.png) 0;
}

QTreeView::branch:open:has-children:has-siblings  {
    image: url(stylesheets/FreeCAD/branch_open_dark.png);
    border-image: url(stylesheets/FreeCAD/branch_more.png) 0;
}

QTreeView::branch:open:has-children:!has-siblings  {
    image: url(stylesheets/FreeCAD/branch_open_dark.png);
    border-image: url(stylesheets/FreeCAD/branch_end.png) 0;
}

QSlider,
QSlider:active,
QSlider:!active {
    border: none;
    background-color: transparent;
}

QSlider:horizontal {
    padding: 0px 10px;
}

QSlider:vertical {
    padding: 10px 0px;
}

QSlider::groove:horizontal {
    border: 1px solid #b6b6b6;
    background-color: #b6b6b6;
    height: 8px;
    border-radius: 5px;
    margin: 4px 0;
}

QSlider::groove:vertical {
    border: 1px solid #b6b6b6;
    background-color: #b6b6b6;
    width: 8px;
    border-radius: 5px;
    margin: 4px 0;
}

QSlider::groove:horizontal:disabled,
QSlider::groove:vertical:disabled {
    border-color:  #e0e0e0;
    background-color: #e0e0e0;
}

QSlider::handle:horizontal,
QSlider::handle:vertical {
    background-color: #828282;
    border: 1px solid #828282;
    width: 14px;
    height: 14px;
    border-radius: 8px;
}

QSlider::handle:horizontal {
    margin: -4px 0;
}

QSlider::handle:vertical {
    margin: 0 -4px;
}

QSlider::handle:horizontal:hover,
QSlider::handle:vertical:hover {
    border-color: #e0a108;
    background-color: #e0a108;
}

QSlider::handle:horizontal:pressed,
QSlider::handle:vertical:pressed {
    border-color: #9d7106;
    background-color: #9d7106;
}

QSlider::handle:horizontal:disabled,
QSlider::handle:vertical:disabled {
    border-color: #b6b6b6;
    background-color: #e6e6e6;
}

QToolButton {
    color: #ffffff;
    text-align: center;
    background-color: qlineargradient(spread:pad, x1:1, y1:0.545, x2:1, y2:0, stop:0 #b6b6b6, stop:1 #e6e6e6);
    border: 1px solid #828282;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 3px;
    outline: none;
}

QToolButton:hover,
QToolButton:focus {
    color: black;
    background-color: qlineargradient(spread:pad, x1:1, y1:0.545, x2:1, y2:0, stop:0 #e0a108, stop:1 #f8bf36);
    border-color: #e0a108;
}

QToolButton:disabled,
QToolButton:disabled:checked {
    color: #b6b6b6;
    background-color: #e6e6e6;
    border-color: #b6b6b6;
}

QToolButton:pressed {
    border-color: #fad57a;
}

QToolButton:checked {
    background-color: #f8bf36;
    border-color: #e0a108;
}

QToolButton::menu-indicator  {
    subcontrol-origin: padding;
    subcontrol-position: center right;
    right: 4px;
}

/*The "show more" button  (it can also be stylable with "QToolBarExtension" */
QToolButton#qt_toolbar_ext_button {
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    /*background-image: url(stylesheets/FreeCAD/more_dark.png);*/
    image: transparent;
    background-repeat: none;
    background-position: center left;
}

QToolButton#qt_toolbar_ext_button:hover {
    /*background-image: url(stylesheets/FreeCAD/more_light.png);*/
    border-color: #e0e0e0;
    background-color: #e0e0e0;
}

QToolButton#qt_toolbar_ext_button:on {
    /*background-image: url(stylesheets/FreeCAD/more_light.png);*/
    border-color: #e0e0e0;
    background-color: #e0e0e0;
}

/*Buttons inside the Toolbar*/
QToolBar QToolButton {
    color: #828282;
    background-color: #e6e6e6;
    border: 1px transparent #e6e6e6;
    border-radius: 3px;
    margin: 0px;
    padding: 2px;
}

QToolBar QToolButton:disabled {
    background-color: #e6e6e6;
}

QToolBar QToolButton:checked {
    color: #9d7106;
    background-color: #f8bf36;
    border: 1px solid #f8bf36;
}

QToolBar QToolButton:hover {
    background-color: #e6e6e6;
}

QToolBar QToolButton:pressed,
QToolBar QToolButton::menu-button:pressed {
    background-color: #e0e0e0;
    border: 1px solid #e0e0e0;
}


QToolBar QToolButton::menu-indicator:hover,
QToolBar QToolButton::menu-indicator:pressed {
    background-color: transparent;
}

/* the subcontrols below are used only in the MenuButtonPopup mode */
QToolBar QToolButton::menu-button {
    border: 1px transparent #4A4949;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 16px; /* 16px width + 4px for border = 20px allocated above */
    outline: none;
    background-color: transparent;
}

QToolBar QToolButton::menu-button:hover,
QToolBar QToolButton::menu-button:active,
QToolBar QToolButton::menu-button:disabled {
    border-color: transparent;
    background-color: transparent;
}

QToolBar QToolButton::menu-arrow {
    background-image: url(stylesheets/FreeCAD/down_arrow_light.png);
    background-position: center center;
    background-repeat: none;
    subcontrol-origin: padding;
    subcontrol-position: bottom right;
    height: 10px; /* same as arrow image */
}

QToolBar QToolButton::menu-arrow:open {
    background-image: url(stylesheets/FreeCAD/down_arrow_lighter.png);
}

QToolBar:tear {
    color: blue;
    background-color: red;
}

QTableView {
    color: #828282;
    border: 1px solid #b6b6b6;
    gridline-color: #f5f5f5;
    background-color: #d3d1cd;
    selection-color: #828282;
    selection-background-color: #fce6b1;
    border-radius: 3px;
    padding: 0px;
    margin: 0px;
}

QTableView::item:hover  {
    background: #cbc9c4;
}

QTableView::item:disabled  {
    color: #e6e6e6;
}

QTableView::item:selected  {
    color: #9d7106;
    background-color: #fad57a;
}

/* when editing a cell: */
QTableView QLineEdit {
    color: #828282;
    background-color: #cfcdc9;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
}

QHeaderView {
    border: none;
    background-color: #828282;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin: 0px;
    padding: 0px;
}

QHeaderView::section  {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 0px;
    text-align: center;
}

QHeaderView::section::vertical  {
    padding: 0px 6px 0px 6px;
    border-bottom: 1px solid #b6b6b6;
}

QHeaderView::section::vertical:first {
    border-top: 1px solid  #b6b6b6;
}

QHeaderView::section::vertical:last {
    border-bottom: none;
}

QHeaderView::section::vertical:only-one {
    border: none;
}

QHeaderView::section::horizontal  {
    padding: 0px 0px 0px 6px;
    border-right: 1px solid #b6b6b6;
}

QHeaderView::section::horizontal:first {
    border-left: 1px solid #b6b6b6;
}

QHeaderView::section::horizontal:last {
    border-left: none;
}

QHeaderView::section::horizontal:only-one {
    border: none;
}

QDockWidget QHeaderView::section {
    border-width: 6px 1px 6px 1px; /* hack to bigger margin for Model Panel table headers */
}

QHeaderView::section:checked {
    color: #9d7106;
    background-color: #fad57a;
}

 /* style the sort indicator */
QHeaderView::down-arrow {
    image: url(stylesheets/FreeCAD/down_arrow_light.png);
}

QHeaderView::up-arrow {
    image: url(stylesheets/FreeCAD/up_arrow_light.png);
}

QTableCornerButton::section {
    background-color: #828282;
    border: 1px solid #828282;
    border-radius: 0px;
}

QToolBox  {
    padding: 3px;
    color: #9d7106;
    border: none;
}

QToolBox::tab {
    color: #ffffff;
    background-color: #b6b6b6;
    border: 1px transparent #828282;
    border-bottom: 1px transparent #b6b6b6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
}

QToolBox::tab:selected { /* italicize selected tabs */
    color: #9d7106;
    font: italic;
    background-color: #f8bf36;
    border-color: #f8bf36;
 }

QStatusBar::item {
    color: #ffffff;
    background-color: #e6e6e6;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
}

QSplitter::handle {
    background-color: #e6e6e6;
    margin: 0px 11px;
    padding: 0px;
    border-radius: 3px;
}

QSplitter::handle:vertical {
    background-image: url(stylesheets/FreeCAD/splitter_horizontal_dark.png);
    background-position: center center;
    background-repeat: none;
    margin: 2px;
    height: 2px;
}

QSplitter::handle:horizontal {
    background-image: url(stylesheets/FreeCAD/splitter_vertical_dark.png);
    background-position: center center;
    background-repeat: none;
    margin: 2px;
    width: 2px;
}

QSplitter::handle:horizontal:hover,
QSplitter::handle:vertical:hover {
    background-color: #e6e6e6;
}

/* Similar to the splitter is the following window separator: */
QMainWindow::separator {
    border: 1px solid #e6e6e6;
    background-color: #e6e6e6;
    background-position: center center;
    background-repeat: none;
}

QMainWindow::separator:hover {
    background-color: #e6e6e6;
}

QMainWindow::separator:horizontal {
    height: 4px;
    background-image: url(stylesheets/FreeCAD/splitter_horizontal_dark.png);
}

QMainWindow::separator:vertical {
    width: 4px;
    background-image: url(stylesheets/FreeCAD/splitter_vertical_dark.png);
}

QLabel {
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: transparent;
}

QLabel:disabled {
    color: #b6b6b6;
    background-color: transparent;
}

/* Action group */
QFrame[class="panel"] {
    border: none;
    background-color: #e6e6e6;
}

up QFrame[class="content"] QPushButton {
    background-color: qlineargradient(spread:pad, x1:1, y1:0.545, x2:1, y2:0, stop:0 #b6b6b6, stop:1 #e6e6e6);
}

